@{
    ViewData["Title"] = "Game Space";
}



<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <h1 class="h1 m-3">Welcome to <strong>Game Space</strong></h1>
    <br>
    <br>


    <div class="custom">
        <p class="h4 text-muted">
            Place where you can have fun with your friends while we're taking care of the setup.
            <br>
            <br>
            <br>
            <br>
            Earn Coins by participating in tournaments or by hosting your own Tournament!
            <br>
            <br>
            <br>
            <br>
            Trade Coins for Riot Points.
            <br>
            <br>
            <br>
            And Many More Futures!
        </p>
    </div>
</div>

