@{
    ViewData["Title"] = "Game Space";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1 class="h1 m-3">Welcome to <strong>Game Space</strong></h1>
        <br>
        <br>
        <div class="custom">
            <p class="h4 text-muted">
                Place where you can have fun with your friends while we're taking care of the setup.
                <br>
                <br>
                <br>
                Earn Coins by participating in tournaments or by hosting your own Tournament!
                <br>
                <br>
                <br>
                Trade Coins for Riot Points.
                <br>
                <br>
                <br>
                And Many More Futures!
                <br>
                <br>
                <strong><a asp-area="Identity" asp-controller="Account" asp-action="Register" class="btn btn-danger text-white">Register Now!</a></strong>
            </p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="offset-sm-2 col-sm-6 offset-ml-2 col-ml-6 offset-lg-4 col-lg-8 offset-xl-4 col-xl-8">
            <img src="/images/simple1.png" alt="Alternate Text" />
        </div>
    </div>

    @*<img src="~/images/Background.jpg" class="img-fluid" alt="Responsive image">*@

}

