@{
    ViewData["Title"] = "Game Space";
}



<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1>Welcome, to Game Space</h1>
    <article>
        <p>A place where you and your friends can play competative tournaments for all leage tournaments </p>
    </article>
</div>

