@model EditTeamViewModel

@{
    ViewData["Title"] = "Edit Team";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Edit Team</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl"></label>
                <input asp-for="VideoUrl" class="form-control">
                <span asp-validation-for="VideoUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl"></label>
                <input asp-for="WebsiteUrl" class="form-control">
                <span asp-validation-for="WebsiteUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialNetwork.FacebookUrl"></label>
                <input asp-for="SocialNetwork.FacebookUrl" class="form-control">
                <span asp-validation-for="SocialNetwork.FacebookUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialNetwork.TwitchUrl"></label>
                <input asp-for="SocialNetwork.TwitchUrl" class="form-control">
                <span asp-validation-for="SocialNetwork.TwitchUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialNetwork.TwitterUrl"></label>
                <input asp-for="SocialNetwork.TwitterUrl" class="form-control">
                <span asp-validation-for="SocialNetwork.TwitterUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialNetwork.YoutubeUrl"></label>
                <input asp-for="SocialNetwork.YoutubeUrl" class="form-control">
                <span asp-validation-for="SocialNetwork.YoutubeUrl" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>