@model IEnumerable<TeamInvitationMessageViewModel>

@{
    ViewData["Title"] = "Messages";
}

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <h2 class="heading-margin text-center">My Messages:</h2>
    <div class="card-deck">
        @foreach (var message in this.Model)
        {
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Invitation from Team @message.TeamName</h5>
                    <p class="card-text"></p>
                    <a asp-controller="Team" asp-action="AcceptInvitation" asp-route-requestId="@message.Id" class="btn btn-outline-success">Accept</a>
                    <a asp-controller="Team" asp-action="DeclineInvitation" asp-route-requestId="@message.Id" class="btn btn-danger">Decline</a>
                </div>
            </div>
        }
    </div>
</div>

@if (!this.Model.Any())
{
    <h3 class="heading-margin text-center">No messages found.</h3>
}
