@model AdministrationTournamentViewModel

@{
    ViewData["Title"] = "Tournament Administration";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1 class="text-center">Tournament Administration</h1>
        <br />
        <table class="table table-striped w-50 p-3 table-mable" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center"><a class="btn btn-outline-dark">Round One</a></th>
                    <th scope="col" class="text-center"><a class="btn btn-outline-dark">Winners</a></th>
                    <th scope="col" class="text-center"><a class="btn btn-outline-dark"></a></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= Model.TeamSeeds.TeamsSeeds.Count() / 2; i++)
                {
                    var team = Model.TeamSeeds.TeamsSeeds;
                    <tr>
                        <td scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="name" class="btn btn-primary">@team[i - 1].teamIdNamePair.Name</a></td>
                        <td scope="col" class="text-center"></td>
                        <td scope="col" class="text-center"></td>
                    </tr>
                    <tr>
                        <td scope="col" class="text-center">Vs</td>
                        <td scope="col" class="text-center">Winner</td>
                        <td scope="col" class="text-center"></td>
                    </tr>
                    <tr>
                        <td scope="col" class="text-center"><a asp-area="Admin" asp-controller="Tournament" asp-action="All" asp-route-orderBy="name" class="btn btn-danger">@(@team[i] is null ? "Empty" : team[i].teamIdNamePair.Name)</a></td>
                        <td scope="col" class="text-center"></td>
                        <td scope="col" class="text-center"></td>
                    </tr>
                    <tr class="thd">
                        <td scope="col" class="text-center"></td>
                        <td scope="col" class="text-center"></td>
                        <td scope="col" class="text-center"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

