@*@model 

@{
    ViewData["Title"] = "Upcoming tournaments";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h3 class="heading-margin text-center">All Upcoming League of Legends Tournaments</h3>
        <br />

    </div>
</div>*@

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@